---
import Carousel from "./CarouselSec2.vue";
---

<section class="max-w-6xl mx-auto px-4 py-12 xl:py-16">
  <div class="space-y-8 md:space-y-12">
    <div class="text-center space-y-3 md:space-y-5 xl:space-y-8">
      <h2
        class="text-2xl xl:text-3xl font-bold max-w-[20ch] md:max-w-full mx-auto"
      >
        Unlock the power of
        <span class="bg-gradient bg-clip-text text-transparent italic pr-1">
          immersive learning
        </span>
      </h2>
    </div>
    <div>
      <Carousel client:load />
    </div>
  </div>
</section>
