<div class="social">
    <img src="/images/logo/logo-white.png" alt="Syry" style="width: 90px; height: auto; margin-right: 60px; vertical-align: middle;">
    {% for item in site.data.social %}
        <a href="{{ item.link }}" target="blank"><img src="{{ item.image | relative_url }}" title="{{ item.name }}" alt="{{ item.name }}" /></a>
    {% endfor %}
    <div style="text-align: left; margin-top: 10px; margin-bottom: 20px;">
      Terms and Conditions - Privacy Policy - Cookies Policy
    </div>
</div>
