<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          {% if site.data.seo.copyright_text %}
            <div class="copyright">{{ site.data.seo.copyright_text }}
            <div id="mc_embed_shell">
            <div id="mc_embed_signup">
              <form action="https://syry.us21.list-manage.com/subscribe/post?u=fbf0a63ae1b88e28646525eb8&amp;id=6b99444b37&amp;f_id=00f0efe6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <h3 style="color: #ffffff; margin-bottom: 10px; margin-top: 30px;">Subscribe to our newsletter</h3>
                <div class="mc-field-group">
                    <label for="mce-EMAIL" style="margin-right: 12px;">Email Address</label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" style="width: 220px; border-radius: 10px; border: none;">
                </div>
                  <div hidden="">
                    <input type="hidden" name="tags" value="2968756">
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_fbf0a63ae1b88e28646525eb8_6b99444b37" tabindex="-1" value="">
                  </div>
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button--black" value="Subscribe" style="margin: 10px 0; border: none">
                  </div>
                </form>
              </div>
              </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
