---

---

<section class="max-w-6xl mx-auto px-4 py-12 xl:py-16">
  <div class="space-y-8 md:space-y-12">
    <div class="text-center space-y-3 md:space-y-5 xl:space-y-8">
      <h2
        class="text-2xl xl:text-3xl font-bold max-w-[20ch] md:max-w-full mx-auto"
      >
        Need a custom project?
        <span class="bg-gradient bg-clip-text text-transparent italic pr-1">
          We’ll help
        </span>
      </h2>
    </div>
    <div class="flex flex-col md:flex-row gap-4 justify-center items-center">
      <div
        class="text-center gap-4 rounded-3xl p-4 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[200px] flex-1 flex flex-col justify-center items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">🔮 Discovery</h3>
        <p class="lg:text-lg">
          Have a concept in mind and want to turn it into reality? <span
            class="font-bold">We’ll explore the possibilities.</span
          >
        </p>
      </div>

      <div class="hidden xl:block">
        <svg
          class="size-6"
          viewBox="0 0 21 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.5 8.90193C21.5 10.0566 21.5 12.9434 19.5 14.0981L5.25 22.3253C3.25 23.48 0.750001 22.0366 0.750001 19.7272L0.750002 3.27276C0.750002 0.963354 3.25 -0.480018 5.25 0.674683L19.5 8.90193Z"
            fill="url(#paint0_linear_263_10)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_263_10"
              x1="20.6304"
              y1="0.717392"
              x2="-0.934781"
              y2="22.9565"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#999EF8"></stop>
              <stop offset="1" stop-color="#D88EE0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>

      <div
        class="text-center gap-4 rounded-3xl p-4 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[200px] flex-1 flex flex-col justify-center items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">📑 Design</h3>
        <p class="lg:text-lg">
          Crafting the detailed blueprint for your vision – <span
            class="font-bold">from outline to complete design.</span
          >
        </p>
      </div>

      <div class="hidden xl:block">
        <svg
          class="size-6"
          viewBox="0 0 21 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.5 8.90193C21.5 10.0566 21.5 12.9434 19.5 14.0981L5.25 22.3253C3.25 23.48 0.750001 22.0366 0.750001 19.7272L0.750002 3.27276C0.750002 0.963354 3.25 -0.480018 5.25 0.674683L19.5 8.90193Z"
            fill="url(#paint0_linear_263_10)"></path>
          <defs>
            <linearGradient
              id="paint0_linear_263_10"
              x1="20.6304"
              y1="0.717392"
              x2="-0.934781"
              y2="22.9565"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#999EF8"></stop>
              <stop offset="1" stop-color="#D88EE0"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>

      <div
        class="text-center gap-4 rounded-3xl p-4 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[200px] flex-1 flex flex-col justify-center items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">👾 Development</h3>
        <p class="lg:text-lg">
          <span class="font-bold"
            >Bringing your ideas to life, co-creating,</span
          > and developing original experiences.
        </p>
      </div>
    </div>
  </div>
</section>
