---
import Carousel3 from "./CarouselSec3.vue";
---

<section class="max-w-6xl mx-auto px-4 py-12 xl:py-16">
  <div class="space-y-8 md:space-y-12">
    <div class="text-center space-y-3 md:space-y-5 xl:space-y-8">
      <div class="space-y-3 md:space-y-4">
        <h2
          class="text-2xl xl:text-3xl font-bold max-w-[25ch] mx-auto md:max-w-[30ch]"
        >
          Featured projects we’ve
          <span class="bg-gradient bg-clip-text text-transparent italic pr-1">
            delivered
          </span>
        </h2>

        <p class="max-w-[55ch] mx-auto md:text-lg">
          From heavy equipment simulators for mining to multiplayer competitive
          games, <span class="font-bold">we’ve got you covered.</span>
        </p>
      </div>
    </div>
    <div>
      <Carousel3 client:load />
    </div>
  </div>
</section>
