---

---

<section class="max-w-6xl mx-auto px-4 py-12 xl:py-16">
  <div class="space-y-8 md:space-y-12">
    <div class="text-center space-y-3 md:space-y-5 xl:space-y-8">
      <h2
        class="text-2xl xl:text-3xl font-bold max-w-[25ch] mx-auto md:max-w-[30ch]"
      >
        Explore our development
        <span class="bg-gradient bg-clip-text text-transparent italic pr-1">
          divisions
        </span>
      </h2>
    </div>
    <div class="grid gap-4 md:grid-cols-3 justify-center">
      <div
        class="text-center gap-4 rounded-3xl px-3 py-6 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[216px] flex flex-col justify-start items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">🎮 Games</h3>
        <p class="lg:text-lg">
          Developing virtual reality games and world-building services for
          <span class="font-bold">next-gen experiences.</span>
        </p>
        <a
          href="/games"
          class="bg-gradient text-white rounded-full px-4 py-1 md:text-lg md:px-5 xl:text-xl xl:py-1.5 xl:px-6 transition-all top-0 hover:-top-1 hover:brightness-110 font-semibold relative"
        >
          Explore
        </a>
      </div>

      <div
        class="text-center gap-4 rounded-3xl px-3 py-6 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[216px] flex flex-col justify-start items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">👾 Simulations</h3>
        <p class="lg:text-lg">
          <span class="font-bold">Enhance safety and proficiency</span> with virtual
          scenarios to prepare for real-world challenges.
        </p>
        <a
          href="/simulations"
          class="bg-gradient text-white rounded-full px-4 py-1 md:text-lg md:px-5 xl:text-xl xl:py-1.5 xl:px-6 transition-all top-0 hover:-top-1 hover:brightness-110 font-semibold relative"
        >
          Learn more
        </a>
      </div>

      <div
        class="text-center gap-4 rounded-3xl px-3 py-6 shadow-[0_4px_8.7px_rgba(0,0,0,0.25)] max-w-[350px] w-full md:gap-5 md:p-8 min-h-[216px] flex flex-col justify-start items-center"
      >
        <h3 class="text-2xl font-bold lg:text-3xl">🥽 Education</h3>
        <p class="lg:text-lg">
          <span class="font-bold">Virtual reality content creation</span> and distribution
          platform for education and enterprise.
        </p>
        <a
          href="/education"
          class="bg-gradient text-white rounded-full px-4 py-1 md:text-lg md:px-5 xl:text-xl xl:py-1.5 xl:px-6 transition-all top-0 hover:-top-1 hover:brightness-110 font-semibold relative"
        >
          Try now
        </a>
      </div>
    </div>
  </div>
</section>
