---

---

<section class="max-w-5xl mx-auto px-4 py-12 xl:py-16">
  <div>
    <div class="text-center space-y-3 md:space-y-5 xl:space-y-8">
      <h1
        class="text-2xl md:text-4xl max-w-[20ch] mx-auto xl:text-5xl font-bold text-pretty"
      >
        Sharing our journey into
        <span class="bg-gradient bg-clip-text text-transparent italic pr-1"
          >virtual insanity</span
        >
      </h1>
      <div>
        <p class="text-lg md:text-xl md:max-w-[38ch] mx-auto">
          Read on for use cases, insights, and our learnings and developments in
          our blog.
        </p>
      </div>
    </div>
  </div>
</section>
