.button-container {
    padding-top: 15px;

    @include media-breakpoint-up(md) {
        padding-left: 20px;
        text-align: left;
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}
