.button-container {
    padding-top: 10px;

    @include media-breakpoint-up(md) {
        padding-left: 20px;
        text-align: left;
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    &-center {
    text-align: center !important;
    }
}
