---
layout: default
bodyClass: "page-blog"
image: /images/logo/virtual-reality-rocks.png
description: "Welcome to the era of Synthetic Realities"
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 3px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>Introducing Syry: A New Frontier in Gaming and Education</h1>
      <br>
      <h2 style="text-align: center;">Welcome to the era of synthetic realities</h2>
      <div class="gradient-header"></div>
      <br>
      <div style="text-align: center;">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6uFa7sAXau4ml19r9ObEAj?utm_source=generator&theme=0" width="75%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      <br>
      <p>Interaction with the digital world will not be limited to flat screens forever and the shift towards immersive spatial interfaces is well underway. The release of the Oculus Rift and HTC Vive in 2016, kicked-off a new era for virtual reality (VR), and despite diminished public enthusiasm or market momentum, VR is the best it has ever been with the most advanced headsets and compelling content to date.</p>
      <p>With rising competition between tech giants like Meta and Apple, and the emergence of practical use cases for XR, we believe the time to build is now.</p>
      <p>Still, high-quality content and applications are required to fully realize the potential of VR, which is why we are excited to announce the launch of △ Syry, a company focused in unlocking the potential of virtual reality at the intersection of gaming and education.</p>
      <br>
      <br>
      <div class="container mb-4">
        <div class="row">
          <div class="col-12">
            <img src="/images/illustrations/meta-quest-3.png" alt="Virtual Reality Headset" class="img-fluid intro-image">
          </div>
        </div>
      </div>
      <h2 style="text-align: center;">Focusing on value-proven applications</h2>
      <div class="gradient-header"></div>
      <br>
      <p>While the potential for XR is limitless, Syry is focusing on two areas were we have gathered deep expertise and have had impact over the last 7 years:</p>
      <h2 style="text-align: center;">Syry <span style="color:#9065b0; font-style: italic;">Games</span></h2>
      <p>With an estimated install base of 40 million VR headsets, Meta Quest Store games reaching $10M in revenue, and plenty of room for innovation, gaming is full with opportunity. We are hand-crafting engaging XR games, where responsive interaction with the virtual realm are paramount, focusing on the unique value virtual reality can offer in comparison to other platforms. To kickstart our journey, we’ve released Whaacky Walls!, a simple yet engaging game where players move to fit into incoming walls and currently developing a unique title we can’t wait to share.</p>
      <br>
      <h2 style="text-align: center;">Syry <span style="color:#9065b0; font-style: italic;">Education</span></h2>
      <p>We’ve experienced first-hand the impact XR is having across enterprise training and higher education in a variety of verticals, ranging from high-risk training in the mining industry and heavy machinery simulations to soft skills training and history lessons. XR is providing great value in learning speed, retention and motivation. Throughout this process, we discovered that content is currently the biggest hurdle, for its cost, complexity, and time to develop. To solve this, we have built the ultimate VR content creation tool, as simple as recording yourself. Our vision is simple: instant and infinite immersive education for all. We are currently running our first pilots with excellent feedback, and will be soon generally available!</p>
      <br>
      <br>
      <br>
      <div class="container mb-4">
        <div class="row">
          <div class="col-12">
            <img src="/images/illustrations/meta-avatars-team.png" alt="Virtual Reality Headset" class="img-fluid intro-image">
          </div>
        </div>
      </div>
      <h2 style="text-align: center;">Experienced team building for XR</h2>
      <div class="gradient-header"></div>
      <br>
      <p>For the past seven years, our team has been dedicated to creating immersive experiences ranging from training and simulation to narrative-driven experiences. With over 50 projects completed for Fortune 500 companies, we have established ourselves in the field and are eager to expand.</p>
      <p>Nonetheless, this is an ambitious project, and we’re recruiting fellow designers and engineers to join us! We believe that small teams with a high level of trust, ownership, and passion can have huge impact.</p>
      <br>
      <p>We invite you to join us as we navigate through our journey into virtual insanity and crafting a future where education and gaming are fully immersive. Follow us on social media and sign up to our newsletter!</p>
      <br>
      <br>
    </div>
  </div>
</div>
