---
layout: default
bodyClass: "page-blog"
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 6px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>Introducing Syry: A New Frontier in Gaming and Education</h1>
      <br>
      <h2 style="text-align: center;">Welcome to the era of synthetic realities</h2>
      <div class="gradient-header"></div>
      <br>
      <p>The interaction with the digital world won’t be limited to flat screens forever and the shift towards immersive spatial interfaces is way under way. The launch of the Oculus Rift and HTC Vive in 2016, kicked-off a new dawn for virtual reality (VR), and despite diminished public enthusiasm or market momentum, <strong>VR is the best it has ever been with the most advanced headsets and compelling content to date</strong>.</p>
      <p>With increased competition between tech giants such as Meta and Apple, and the emergence of practical use cases for generative AI in spatial computing, <strong>we believe the time for creating the foundations on which exponential growth will be built is now</strong>.</p>
      <p>To fully realize the potential of VR, high-quality content and applications are needed and that is why we are excited to announce the launch of <strong>△ Syry</strong>, a company focused in unlocking the potential of <strong>virtual reality at the intersection of gaming and education</strong>.</p>
      <br>
      <h2 style="text-align: center;">Focusing on value-proven applications</h2>
      <div class="gradient-header"></div>
      <br>
      <p>While the potential for XR is boundless, Syry is focusing on two domains were we have gathered deep expertise and have had tangible results and impact over time:</p>
      <p>
        <strong>Games</strong>: With an estimated install base of <a href="https://www.roadtovr.com/ndreams-vr-growth-patrick-oluanaigh-interview/" target="_blank">40 million VR headsets</a>, Meta Quest Store games <a href="https://www.roadtovr.com/quest-2-revenue-games-apps-gdc-2023/" target="_blank">reaching $10M in revenue</a>, and lots of room for innovation, gaming is full with opportunity. We are hand-crafting engaging XR games, where responsive interaction with the virtual realm are paramount, focusing on the unique value virtual reality can offer compared to other platforms. To kickstart our journey, we’ve released a simple yet engaging game, <a href="https://www.meta.com/experiences/6715799361775532/" target="_blank">Whaacky Walls!</a>, where players move to fit into incoming walls and currently developing a game <em>we can’t wait to share</em>.
        <br>
        <br>
        <strong>Education</strong>: We’ve experienced first-hand the impact XR is having across enterprise training and higher education across diverse verticals from high-risk training in the mining industry and heavy machinery simulators, down to soft skills training and history lessons. XR is providing great value in learning speed, retention and motivation. Throughout this process, we found out that content is currently the biggest blocker, for its cost, complexity, and time to produce. To solve this, we have built the ultimate VR content creation tool, as simple as recording yourself. Our vision is clear: instant and infinite immersive education for all. Currently conducting our first pilots with excellent feedback, and will be soon generally available!
      <br>
      <br>
      <h2 style="text-align: center;">Battle-hardened team</h2>
      <div class="gradient-header"></div>
      <br>
      <p>Our team has been dedicated to creating immersive experiences for the past 7 years, ranging from training and simulation down to narrative driven experiences. With over 50 projects delivered across VR, AR, and 3D for Fortune 500 companies: we have proven ourselves in the arena.</p>

      <p>We invite you to join us as we navigate through our journey into virtual insanity and crafting a future where education and gaming are fully immersive.</p>

      <p>This is an ambitious project, and we’re recruiting fellow designers and engineers to join us! We believe that small teams with high trust, ownership, and dedication.</p>

      <p>Follow us on social media and sign up to our newsletter!</p>
      <br>
      <br>
    </div>
  </div>
</div>
