---
layout: default
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>Open Positions</h1>
      <div class="gradient-header"></div>
      <br>
      <p>Check out our open positions, <strong>let's make an impact together</strong>!</p>
      <h3><a href="/cto">Chief Technology Officer</a></h3>
      <h3><a href="/xrdp">XR Design & Project Lead (Freelance)</a></h3>
      <h3><a href="/xrccm">XR Content & Community Manager (Freelance)</a></h3>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
