---
layout: default
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>Chief Technology Officer</h1>
      <div class="gradient-header"></div>
      <br>
      <p>At Syry, we’re on a mission to <strong>accelerate the future towards global, high-quality education</strong>, and we’re looking for a co-founder CTO to help us lead the charge.</p>
      <h2>About Us</h2>
      <p>Founded in 2023 by XR veterans, Syry is built on the foundation of a <strong>track record of +7 years in the XR sector and +50 projects delivered to global companies</strong>.</p>
      <p>Our mission is fueled by a grant from StartUp Peru and strategic partnerships with notable accelerators like <a href="https://startupwiseguys.com/" target="_blank" rel="noopener noreferrer"><strong>Startup Wise Guys</strong></a> in Europe and the <a href="https://tec.mx/en/ife" target="_blank" rel="noopener noreferrer"><strong>Institute for the Future of Education</strong></a>.</p>
      <p>Our innovative platform, with the <a href="https://www.meta.com/en-gb/experiences/7155240247877881/" target="_blank" rel="noopener noreferrer"><strong>MVP</strong></a> already captivating audiences, uses <strong>VR, AI, and virtual avatars to tackle the content creation challenge</strong>, a significant barrier to the widespread adoption of immersive education.</p>
      <br>
      <div style="position: relative; overflow: hidden; width: 100%; padding-top: 56.25%; border-radius: 20px;">
      <iframe src="https://www.youtube-nocookie.com/embed/BVEjUp3QjTk?controls=0" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; border-radius: 20px;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen title="YouTube video player"></iframe>
      </div>
      <br>
      <br>
      <h2>Our Vision</h2>
      <p><strong>Traditional online learning has significant challenges</strong>, notably poor engagement and low completion rates (5-15%). VR learning has emerged as a promising alternative with greater immersion and effectiveness. Yet, its adoption is restricted by complex production processes and prohibitive costs.</p>
      <p><strong>Now imagine a world where educators can</strong> <a href="https://www.youtube.com/watch?v=egmmYxXhScQ" target="_blank" style="text-decoration: none;"><strong>instantly transport students</strong></a> to the heart of a bustling ancient city, the serene expanse of a distant galaxy, or the intricate workings of a human cell. This is the world Syry is building - <a href="https://readyplayerone.fandom.com/wiki/Ludus#:~:text=Unlike%20their%20real,the%20day%20previous." target="_blank" style="text-decoration: none;"><strong>an ultimate virtual classroom</strong></a> that redefines the boundaries of education.</p>
      <p>By merging <a href="https://arvrjourney.com/one-teacher-educating-a-billion-students-in-a-single-day-vr-ai-1bad3e644623" target="_blank" style="text-decoration: none;"><strong>XR with AI</strong></a>, we empower educators with endless resources to craft engaging lessons—<strong>all without the need for coding or complex tools</strong>.</p>
      <h2>The Role</h2>
      <p>To navigate this crucial phase and emerge as pioneers in the XR educational space, we’re looking for a co-founder CTO that will help us <strong>build the future of education</strong>; with your responsibilities evolving alongside Syry's growth:</p>
      <p>
      <strong>Pre-Funding</strong><br>
      <strong><span style="color:#9065b0">△</span></strong> Collaborate on developing our Alpha/Beta version as a side project.<br>
      <strong><span style="color:#9065b0">△</span></strong> Adding technical insight to support funding efforts.
      </p>
      <p>
      <strong>Post-Funding</strong><br>
      <strong><span style="color:#9065b0">△</span></strong> Commit full-time, with a hands-on approach to product development.<br>
      <strong><span style="color:#9065b0">△</span></strong> Evolve the product from Alpha/Beta to a market-leading position.<br>
      <strong><span style="color:#9065b0">△</span></strong> Research, test, and develop AI and XR solutions for our product.<br>
      <strong><span style="color:#9065b0">△</span></strong> Scale the technical team and infrastructure.<br>
      </p>
      <h2>Who You Are</h2>
      <p>We're looking for someone who can check some of these boxes and has the <strong>ability to learn fast</strong>.</p>
      <p>
      <strong>Must-Have</strong><br>
      <strong><span style="color:#9065b0">△</span></strong> Very passionate about leveraging XR and AI to transform education.<br>
      <strong><span style="color:#9065b0">△</span></strong> Eager to embrace the challenges of a startup environment, from hands-on product development to strategic planning.<br>
      <strong><span style="color:#9065b0">△</span></strong> Proficient in Unity for XR development, with a portfolio demonstrating successful projects.<br>
      <strong><span style="color:#9065b0">△</span></strong> Motivated not just by the prospect of technological innovation but by the tangible impact your work will have on learners around the globe.<br>
      <strong><span style="color:#9065b0">△</span></strong> Capability to build and lead a technical team, managing resources effectively while fostering a culture of innovation.<br>
      <strong><span style="color:#9065b0">△</span></strong> Ability to lead product development from concept to market, scaling both the product and the technical team.
      </p>
      <p>
      <strong>Nice-to-Have</strong><br>
      <strong><span style="color:#9065b0">△</span></strong> Experience in deploying generative AI solutions, preferably open-source.<br>
      <strong><span style="color:#9065b0">△</span></strong> Experience with Meta Avatars, Multiplayer, and Passthrough.<br>
      <strong><span style="color:#9065b0">△</span></strong> Skilled in full-stack development to build and maintain a comprehensive content management system, including discovery features.
      </p>
      <h2>What We Offer</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> A chance to co-found and shape a company poised to revolutionize education.<br>
      <strong><span style="color:#9065b0">△</span></strong> A significant equity stake, recognizing your foundational role in Syry's success.<br>
      <strong><span style="color:#9065b0">△</span></strong> Flexibility and autonomy in how you work (remote-first).<br>
      <strong><span style="color:#9065b0">△</span></strong> A competitive salary post-funding, complemented by a monthly stipend to support your dedication as we progress towards our funding goals.
      </p>
      <h2>Join Us</h2>
      <p>If you're interested in unlocking the infinite potential of learning, <a href="mailto:alexis@syry.io" style="text-decoration: none;"><strong>let's connect!</strong></a></p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
