---
layout: default
bodyClass: "page-education"
---

<style>
  @media (max-width: 576px) {
    .logo-image {
      max-width: 100%;
    }
  }
</style>


<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include download.html show_button=true %}
        {% endif %}
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 mb-6 position-relative d-flex justify-content-center align-items-center">
        <div style="position: relative; overflow: hidden; width: 100%; padding-top: 56.25%; border-radius: 20px;">
          <iframe src="https://www.youtube-nocookie.com/embed/BVEjUp3QjTk?controls=0"
            style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; border-radius: 20px;"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            title="YouTube video player"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-left: 30px; padding-right: 30px;">
  <h1 style="margin-bottom: 40px; text-align: center;">Give e-learning a <span style="color:#9065b0; font-style: italic;">third dimension&sup3</span></h1>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-3 text-center">
      <img src="/images/illustrations/education-1.png" alt="Virtual Reality Avatars" style="width: 80%; height: auto; display: block; margin: auto;" />
        <p style="text-align: center;">Dive into virtual reality</p>
    </div>
    <!-- Second Column -->
    <div class="col-md-3 text-center">
      <img src="/images/illustrations/education-2.png" alt="Virtual Reality Generative AI" style="width: 80%; height: auto; display: block; margin: auto;" />
        <p style="text-align: center;">Summon any asset</p>
    </div>
    <!-- Third Column -->
    <div class="col-md-3 text-center">
      <img src="/images/illustrations/education-3.png" alt="Record Virual Reality Lessons" style="width: 80%; height: auto; display: block; margin: auto;" />
        <p style="text-align: center;">Record and start teaching</p>
    </div>
    <!-- Fourth Column -->
    <div class="col-md-3 text-center">
      <img src="/images/illustrations/education-4.png" alt="Virtual Reality Educational Experience" style="width: 80%; height: auto; display: block; margin: auto;" />
        <p style="text-align: center;">Relive the lesson</p>
    </div>
  </div>
</div>

<div class="container my-8" style="padding-left: 30px; padding-right: 30px;">
  <h1 style="margin-bottom: 40px; text-align: center;">Real-world <span style="color:#9065b0; font-style: italic;">applications</span></h1>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6">
      <div class="rounded-box">
        <h2 class="text-center">🏢 Enterprise</h2>
        <p class="text-center text-white">Transform your onboarding, safety, and general training requirements into immersive experiences.</p>
      </div>
    </div>
    <!-- Second Column -->
    <div class="col-md-6">
      <div class="rounded-box">
        <h2 class="text-center">🎓 Higher Education</h2>
        <p class="text-center text-white">Enrich history, architecture, geology, and diverse academic fields with immersive learning environments.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-10 mb-6 text-section">
  <div class="row">
    <div class="col-12 text-center">
      <h1 style="margin-bottom: -30px; text-align: center;">Supported by regional <span style="color:#9065b0; font-style: italic;">partners</span></h1>
    </div>
    <div class="col-12 mt-3">
      <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center logo-container"><img src="/images/logo/logo1.png" alt="Logo 1" class="img-fluid logo-image" style="max-width: 100%;"></div>
        <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center logo-container"><img src="/images/logo/logo2.png" alt="Logo 2" class="img-fluid logo-image" style="max-width: 100%;"></div>
        <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center logo-container"><img src="/images/logo/logo3.png" alt="Logo 3" class="img-fluid logo-image" style="max-width: 100%;"></div>
        <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center logo-container"><img src="/images/logo/logo4.png" alt="Logo 4" class="img-fluid logo-image" style="max-width: 100%;"></div>
        <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center logo-container"><img src="/images/logo/logo5.png" alt="Logo 5" class="img-fluid logo-image" style="max-width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div id="mc_embed_shell" style="text-align: center; margin-bottom: 120px; padding-left: 20px; padding-right: 20px;">
  <h1>In building mode. <span style="color:#9065b0; font-style: italic;">Stay tuned.</span></h1>
  <div id="mc_embed_signup" style="display: inline-block;">
    <form action="https://syry.us21.list-manage.com/subscribe/post?u=fbf0a63ae1b88e28646525eb8&amp;id=6b99444b37&amp;f_id=00f0efe6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="" style="text-align: left;">
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-NAME" style="width: 150px; display: inline-block;">Name</label>
          <input type="text" name="NAME" class="text" id="mce-NAME" style="width: 250px; border-radius: 10px; border: 1px solid #737373;">
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-EMAIL" style="width: 150px; display: inline-block;">Email Address</label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" style="width: 250px; border-radius: 10px; border: 1px solid #737373;">
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-DIVISION" style="width: 150px; display: inline-block;">Select Division</label>
          <select name="DIVISION" id="mce-DIVISION" style="width: 250px; border-radius: 10px;">
              <option value=""></option>
              <option value="Games">Games</option>
              <option value="Simulations">Simulations</option>
              <option value="Education">Education</option>
              <option value="Custom Project">Custom Project</option>
              <option value="Other">Other</option>
          </select>
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-MESSAGE" style="width: 150px; display: inline-block; vertical-align: top;">Message</label>
          <textarea name="MESSAGE" class="text" id="mce-MESSAGE" style="width: 250px; height: 100px; border-radius: 10px;"></textarea>
      </div>
      <div style="text-align: center;">
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Submit" style="width: 250px; margin: 10px auto; border: none">
      </div>
      <div hidden="">
          <input type="hidden" name="tags" value="2968973">
      </div>
      <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input type="text" name="b_fbf0a63ae1b88e28646525eb8_6b99444b37" tabindex="-1">
      </div>
    </form>
  </div>
</div>
