---
layout: default
bodyClass: "page-education"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 mb-6 position-relative d-flex justify-content-center align-items-center">
        <video autoplay loop muted playsinline class="intro-video{% if page.intro_video_absolute %} intro-video-absolute{% endif %}{% if page.intro_video_hide_on_mobile %} intro-video-hide-mobile{% endif %}">
          <source src="{{ '/video/virtual-reality-education.mp4' | relURL }}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<div id="mc_embed_shell" style="text-align: center; margin-bottom: 120px; padding-left: 20px; padding-right: 20px;">
  <h1>In building mode: <span style="color:#9065b0; font-style: italic;">coming soon</span></h1>
  <div id="mc_embed_signup" style="display: inline-block;">
    <form action="https://syry.us21.list-manage.com/subscribe/post?u=fbf0a63ae1b88e28646525eb8&amp;id=6b99444b37&amp;f_id=00f0efe6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="" style="text-align: left;">
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-NAME" style="width: 150px; display: inline-block;">Name</label>
          <input type="text" name="NAME" class="text" id="mce-NAME" style="width: 250px; border-radius: 10px; border: 1px solid #737373;">
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-EMAIL" style="width: 150px; display: inline-block;">Email Address</label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" style="width: 250px; border-radius: 10px; border: 1px solid #737373;">
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-DIVISION" style="width: 150px; display: inline-block;">Select Division</label>
          <select name="DIVISION" id="mce-DIVISION" style="width: 250px; border-radius: 10px;">
              <option value=""></option>
              <option value="Games">Games</option>
              <option value="Simulations">Simulations</option>
              <option value="Education">Education</option>
              <option value="Custom Project">Custom Project</option>
              <option value="Other">Other</option>
          </select>
      </div>
      <div class="mc-field-group" style="margin-bottom: 20px;">
          <label for="mce-MESSAGE" style="width: 150px; display: inline-block; vertical-align: top;">Message</label>
          <textarea name="MESSAGE" class="text" id="mce-MESSAGE" style="width: 250px; height: 100px; border-radius: 10px;"></textarea>
      </div>
      <div style="text-align: center;">
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Submit" style="width: 250px; margin: 10px auto; border: none">
      </div>
      <div hidden="">
          <input type="hidden" name="tags" value="2968973">
      </div>
      <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input type="text" name="b_fbf0a63ae1b88e28646525eb8_6b99444b37" tabindex="-1">
      </div>
    </form>
  </div>
</div>
