---
layout: default
bodyClass: "page-games"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="Virtual Reality Games Rock" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-8 text-section">
  <div class="row">
    <div class="col-12 text-center">
      <h1 style="margin-bottom: 20px; text-align: center;">Pixels, voxels, and meshes: <span style="color:#9065b0; font-style: italic;">we’ve got you covered</span></h1>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign sorted_services = site.services | sort: 'weight' %}
      {% for service in sorted_services %}
        <div class="col-12 col-md-4 mb-1">
          <div class="service service-summary padding-lr">
            <div class="service-content">
              <h2 class="service-title">{{ service.title }}</h2>
              <p>{{ service.content | markdownify | strip_html }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <img src="/images/illustrations/realidad-virtual.png" alt="Virtual Reality" class="img-fluid intro-image intro-image-smaller delayed">
    </div>
  </div>
</div>

<div class="container mt-6" style="padding-left: 30px; padding-right: 30px;">
  <h1 style="margin-bottom: 40px; text-align: center;">Explore some of our <span style="color:#9065b0; font-style: italic;">games</span></h1>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-4 text-center">
      <img src="/images/illustrations/vr-game-whaacky-walls.png" alt="Whaacky Walls Virtual Reality Game" style="width: 80%; height: auto; display: block; margin: auto;" />
        <h2 style="text-align: center;">🎇 Whaacky Walls!</h2>
        <p style="text-align: center;">Quickly position your body to fit into the gaps of moving walls.</p>
        <p style="text-align: center; font-weight: bold;">Available now at App Lab</p>
        <a href="https://www.meta.com/experiences/6715799361775532/" target="_blank">
          <img src="/images/logo/meta-quest.png" alt="Meta Quest" style="width: 50%; height: auto; display: block; margin: auto;" />
        </a>
    </div>
    <!-- Second Column -->
    <div class="col-md-4 text-center">
      <img src="/images/illustrations/videogame-tech-fighter.png" alt="Whaacky Walls Virtual Reality Game" style="width: 80%; height: auto; display: block; margin: auto;" />
        <h2 style="text-align: center;">🥊 Tech Fighter Pro</h2>
        <p style="text-align: center;">Play as a tech billionaire and fight for the title of the ultimate CEO.</p>
    </div>
    <!-- Third Column -->
    <div class="col-md-4 text-center">
      <img src="/images/illustrations/virtual-reality-onassis.png" alt="Whaacky Walls Virtual Reality Game" style="width: 80%; height: auto; display: block; margin: auto;" />
        <h2 style="text-align: center;">🛡️ Onassis</h2>
        <p style="text-align: center;">Use light and torches to escape the labyrinth of the minotaur.</p>
    </div>
  </div>
</div>

<div class="strip my-10">
  <h1 style="text-align: center;">Let's make a <span style="color:#9065b0; font-style: italic;">game</span></h1>
  <div style="text-align: center;">
    <a href="mailto:alexis@syry.io?subject=Syry%20Games&body=Hello%20Syry%2C%0AI%20am%20interested%20in%20more%20information%20about%20Syry%20Games.%0AThanks%21" class="button">Get Started</a>
  </div>
</div>
