---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container mb-4">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="Virtual Reality Rocks" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/illustrations/games-rock.png" alt="Games Rock" class="img-fluid intro-image delayed">
    </div>
    <div class="col-md-6">
      <h1 style="margin-top: 40px;">Experience delivering value to <span style="color:#9065b0; font-style: italic;">global clients</span></h1>
      <p>We're a hardcore team that has delivered <strong style="font-weight: 900;">over 50 projects for global companies</strong> and been supported by industry partners.</p>
    </div>
  </div>
</div>

<div class="container my-5" style="padding-left: 30px; padding-right: 30px;">
  <h1 style="margin-bottom: 40px; text-align: center;">Explore our <span style="color:#9065b0; font-style: italic;">divisions</span></h1>
  <div class="row">
    <!-- First Column -->
    <div class="col-md-4">
      <div class="rounded-box">
        <h2 class="text-center">🎮 Games</h2>
        <p class="text-center text-white">Developing virtual reality games and world-building services for next-gen experiences. </p>
        <div class="button-container button-container-center">
                <a href="mailto:alexis@syry.io" class="button">Explore</a>
        </div>
      </div>
    </div>
    <!-- Second Column -->
    <div class="col-md-4">
      <div class="rounded-box">
        <h2 class="text-center">👾 Simulations</h2>
        <p class="text-center text-white">Enhance safety and proficiency with virtual scenarios to prepare for real-world challenges.</p>
        <div class="button-container button-container-center">
            <a href="mailto:alexis@syry.io?subject=Syry%20Games&body=Hello%20Syry%2C%0AI%20am%20interested%20in%20more%20information%20about%20Syry%20Games.%0AThanks%21" class="button">Learn More</a>
        </div>
      </div>
    </div>
    <!-- Third Column -->
    <div class="col-md-4">
      <div class="rounded-box">
        <h2 class="text-center">🥽 Education</h2>
        <p class="text-center text-white">Instant VR content production and distribution platform for higher education and enterprise.</p>
        <div class="button-container button-container-center">
                <a href="mailto:alexis@syry.io" class="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-8">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align: center;">Need a custom project? <span style="color:#9065b0; font-style: italic;">We can help</span></h1>
      <img src="/images/illustrations/immersive-rocks.png" alt="Immersive Rocks" class="img-fluid intro-image intro-image-smaller">
    </div>
  </div>
</div>

<div class="container mb-8">
  <div class="row">
    <div class="col-12">
      <h2 style="text-align: center;">Site under construction.</h2>
      <p style="text-align: center;">Hold on while we build this awesome website (ETA November 2023).</p>
    </div>
  </div>
</div>
