---
layout: default
bodyClass: "page-simulations"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="strip my-10">
  <h1 style="text-align: center;">Under construction, <span style="color:#9065b0; font-style: italic;">stay tuned!</span></h1>
  <div style="text-align: center;">
    <a href="mailto:alexis@syry.io?subject=Syry%20Simulations&body=Hello%20Syry%2C%0AI%20am%20interested%20in%20more%20information%20about%20Syry%20Games.%0AThanks%21" class="button">Learn More</a>
  </div>
</div>
