---
layout: default
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>XR Content & Community Manager</h1>
      <div class="gradient-header"></div>
      <br>
      <p><i>This is a Freelance (Remote) opportunity with the potential for a part/full-time role.</i></p>
      <h2>About Us</h2>
      <p><strong><span style="color:#9065b0">△</span> Syry</strong> is a leading VR/AR company at the intersection of gaming, simulations, and education. We are backed by +7 years of experience and a portfolio of +50 projects for global clients.</p>
      <p>We specialize in developing cutting-edge projects for clients and building our own proprietary apps and video games. As the demand for immersive projects continues to grow, we invite you to <strong>join us on this journey to shape the future of spatial computing!</strong></p>
      <h2>Role and Responsibilities</h2>
      <p>We're looking for an <strong>XR Content & Community Manager</strong> to enhance our brand presence and engage our community through captivating XR content and strategic social media management.</p>
      <p>You will be at the forefront of creating innovative videos, reels, use cases, articles, and walkthroughs that showcase the magic of our XR projects and applications to the world.</p>
      <p>As a <strong>Content Creator</strong>, you’ll harness the power of XR to produce content that highlights our technology's potential, crafting stories that resonate with our audience and elevate our brand. You will also use our proprietary application to create fun and engaging content at scale.</p>
      <p>As a <strong>Social Media Manager</strong>, your role will extend to curating and sharing this content across our social media platforms, engaging with our community, and amplifying our presence in the digital world.</p>
      <h2>Project Collaboration and Deliverables</h2>
      <p>In this freelance role, we value your expertise and creativity. We are committed to defining project deliverables collaboratively, based on your input and our strategic goals. This may include, but is not limited to, producing a specific number of videos, posts, articles, and reels. We aim to tailor these deliverables to leverage your strengths and meet our audience's needs.</p>
      <h2>Basic Requirements</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> Proven experience in content creation and social media management, with a portfolio showcasing dynamic video content and effective social media campaigns.<br>
      <strong><span style="color:#9065b0">△</span></strong> Proficiency in video editing software and familiarity with XR content creation tools.<br>
      <strong><span style="color:#9065b0">△</span></strong> Creative flair for storytelling and visual communication, particularly within the VR or technology space.<br>
      <strong><span style="color:#9065b0">△</span></strong> Strong understanding of social media platforms and their analytics tools.<br>
      <strong><span style="color:#9065b0">△</span></strong> Ability to identify and engage with XR and tech communities.<br>
      <strong><span style="color:#9065b0">△</span></strong> Excellent communication skills, with fluency in English; proficiency in Spanish is a plus.<br>
      <strong><span style="color:#9065b0">△</span></strong> Self-starter with the ability to work independently and as part of a team.<br>
      <strong><span style="color:#9065b0">△</span></strong> Passion and knowledge of the VR, AR, MR, “the metaverse”, spatial computing industry, staying abreast of the latest trends and tools in content creation.<br>
      <strong><span style="color:#9065b0">△</span></strong> Meta Quest 2 or higher headset is a must.
      </p>
      <h2>What We Offer</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> Opportunities for professional development in the growing XR space.<br>
      <strong><span style="color:#9065b0">△</span></strong> An agile, remote, and innovative work environment.<br>
      <strong><span style="color:#9065b0">△</span></strong> The chance to work with cutting-edge XR technology and a team of passionate innovators.<br>
      <strong><span style="color:#9065b0">△</span></strong> A role where your creativity directly contributes to growing and shaping the future of Syry.
      </p>
      <h2>Tools We Use</h2>
      <p>
      <strong><span style="color:#9065b0">△</span> UI/UX Design</strong>: Figma & Notion<br>
      <strong><span style="color:#9065b0">△</span> Prototyping</strong>: ShapesXR<br>
      <strong><span style="color:#9065b0">△</span> Communication</strong>: Slack<br>
      <strong><span style="color:#9065b0">△</span> Project Management & Documentation</strong>: Notion<br>
      <strong><span style="color:#9065b0">△</span> Meetings</strong>: Google Meet<br>
      <strong><span style="color:#9065b0">△</span> Version Control</strong>: GitHub<br>
      <strong><span style="color:#9065b0">△</span> Development</strong>: Unreal Engine & Unity<br>
      <strong><span style="color:#9065b0">△</span> Languages</strong>: Spanish or English
      </p>
      <p>If this sounds as a match for you and you have an entrepreneurial spirit, looking to thrive in an innovative environment and this quest is of your liking, please send your resume and portfolio to <a href="mailto:hello@syry.io" style="text-decoration: none;"><strong>hello@syry.io</strong></a> and our team will be in touch.</p>
      <p><strong>Welcome to <span style="color:#9065b0">△</span> Syry and the era of synthetic realities.</strong></p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
