---
layout: default
---

<style>
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-header {
    height: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(270deg, #9065b0, #6c4986, #999ef8, #d88ee0);
    background-size: 800% 800%;
    -webkit-animation: gradientBG 20s ease infinite;
    -moz-animation: gradientBG 20s ease infinite;
    animation: gradientBG 20s ease infinite;
  }
</style>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col" style="max-width: 720px;">
      <h1>XR Design & Projct Lead</h1>
      <div class="gradient-header"></div>
      <br>
      <p><i>This is a Freelance (Remote) opportunity with the potential for a part/full-time role.</i></p>
      <h2>About Us</h2>
      <p><strong><span style="color:#9065b0">△</span> Syry</strong> is a leading VR/AR company at the intersection of gaming, simulations, and education. We are backed by +7 years of experience and a portfolio of +50 projects for global clients.</p>
      <p>We specialize in developing cutting-edge projects for clients and building our own proprietary apps and video games. As the demand for immersive projects continues to grow, we invite you to <strong>join us on this journey to shape the future of spatial computing!</strong></p>
      <h2>Role and Responsibilities</h2>
      <p>We're looking for an <strong>XR Design & Project Lead</strong> for project-specific collaboration.</p>
      <p>As a <strong>Project Manager</strong>, you will be assigned the responsibility of managing a project's execution, from conception to completion, within time and budget, ensuring exceptional client and internal team satisfaction.</p>
      <p>As a <strong>UI/UX Designer</strong>, you’ll be responsible for bringing the project to life, ensuring pixel-perfect quality, simplicity, and a user-first, value-driven approach. Deliverables include scripts, storyboards, user interfaces, and user experience.</p>
      <p>You will work in a squad consisting of a developer and a 3D artist, reporting to the project’s executive sponsor. We will be expecting high levels of independence, reliable delegation of tasks, autonomy in action, and a self-starter with a positive driven spirit.</p>
      <h2>Project Collaboration and Deliverables</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> <strong>Project Management</strong>: Detailed project plans, timelines, and budget oversight, with regular progress updates.<br>
      <strong><span style="color:#9065b0">△</span></strong> <strong>UI/UX Design</strong>: Complete design packages including scripts, storyboards, and user interface/experience flows.
      </p>
      <h2>Basic Requirements</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> Compelling portfolio of UI/UX design and a proven track record of delivering projects that delight both clients and internal teams.<br>
      <strong><span style="color:#9065b0">△</span></strong> Sense of urgency in execution; adept at managing time and expectations with problem-solving skills, and foresight into the project's status.<br>
      <strong><span style="color:#9065b0">△</span></strong> Proficient in remote collaboration, boasting exceptional written and oral communication with the ability to sync with our time zone (GMT-5) for at least 4 hours daily.<br>
      <strong><span style="color:#9065b0">△</span></strong> A champion of documentation, leaving no stone unturned in pursuit of clarity. Simplicity and a thoughtful mindset with high information density in every interaction.<br>
      <strong><span style="color:#9065b0">△</span></strong> A lifelong learner with talent, passion, and a commitment to excellence. Usage of AI tools to maximize quality in the least amount of time.<br>
      <strong><span style="color:#9065b0">△</span></strong> Team player, helping others on the team succeed.<br>
      <strong><span style="color:#9065b0">△</span></strong> Passion and knowledge of the VR, AR, MR, “the metaverse”, spatial computing industry.<br>
      <strong><span style="color:#9065b0">△</span></strong> 3D modeling skills and owning a Meta Quest headset are bonuses.
      </p>
      <h2>What We Offer</h2>
      <p>
      <strong><span style="color:#9065b0">△</span></strong> Opportunities for professional development in the growing XR space.<br>
      <strong><span style="color:#9065b0">△</span></strong> An agile, remote, and innovative work environment.<br>
      <strong><span style="color:#9065b0">△</span></strong> The chance to work with cutting-edge XR technology and a team of passionate innovators.<br>
      <strong><span style="color:#9065b0">△</span></strong> A role where your creativity directly contributes to growing and shaping the future of Syry.
      </p>
      <h2>Tools We Use</h2>
      <p>
      <strong><span style="color:#9065b0">△</span> UI/UX Design</strong>: Figma & Notion<br>
      <strong><span style="color:#9065b0">△</span> Prototyping</strong>: ShapesXR<br>
      <strong><span style="color:#9065b0">△</span> Communication</strong>: Slack<br>
      <strong><span style="color:#9065b0">△</span> Project Management & Documentation</strong>: Notion<br>
      <strong><span style="color:#9065b0">△</span> Meetings</strong>: Google Meet<br>
      <strong><span style="color:#9065b0">△</span> Version Control</strong>: GitHub<br>
      <strong><span style="color:#9065b0">△</span> Development</strong>: Unreal Engine & Unity<br>
      <strong><span style="color:#9065b0">△</span> Languages</strong>: Spanish or English
      </p>
      <p>If this sounds as a match for you and you have an entrepreneurial spirit, looking to thrive in an innovative environment and this quest is of your liking, please send your resume and portfolio to <a href="mailto:hello@syry.io" style="text-decoration: none;"><strong>hello@syry.io</strong></a> and our team will be in touch.</p>
      <p><strong>Welcome to <span style="color:#9065b0">△</span> Syry and the era of synthetic realities.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
